

    <div class="pagina">
        <div class="div-titulos">
            <h1><%= titulo %></h1>
            <!-- <h2>Horário atual: </h2> -->
        </div>

        <div class="table">
            <table border="1" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                    </tr>
                </thead>

                <tbody>

                <% for( let index = 0; index < listaPessoas.length; index++ ) { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= listaPessoas[index].nome %></td>
                        <td><%= listaPessoas[index].email %></td>
                    </tr>
                <% } %>

                </tbody>
            </table>
        </div>
    </div>

    <!-- <ol>
        <% for( let index = 0; index < listaPessoas.length; index++ ) { %>
            <li> [<%= index %>] <%= listaPessoas[index].nome %>: <%= listaPessoas[index].email %> </li>
        <% } %>
    </ol> -->
    
